{% extends '../layout_master.html' %}


{% block head %}
<link rel="stylesheet" href="../css/bootstrap.min.css">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" media="all" href="../css/style.css">
<script type="text/javascript" src="../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" charset="utf-8" src="../js/jquery.leanModal.min.js"></script>

<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>



{% endblock %}
{% block title %}iTarget - Signup{% endblock %}



<br>
{% block body content %}
<div class="container bg-col">
    <div class="col-md-5 col-md-offset-1">

        <form class="form-border" method="post" action="/signup">
            <h1 style="margin-bottom: 10px;" class="center">Create your account</h1>
            <br>
            <div class="form-group margin-Top">
                <label for="inputname">First Name</label>
                <input type="text" class="form-control" name="first" id="inputname" placeholder="Your Name">
            </div>
            <div class="form-group margin-Top">
                <label for="inputname">Last Name</label>
                <input type="text" class="form-control" name="last" id="inputname" placeholder="Your Name">
            </div>


            <div class="form-group">
                <label for="inputemail">Your Email</label>
                <input type="email" class="form-control" name="mail" id="inputemail" placeholder="Your Email">
            </div>




            <div class="form-group">
                <label for="inputpass">Your Password</label>
                <input type="password" class="form-control" name="pass1" id="exampleInputPassword1" placeholder="at least 6 characters">
            </div>

            <div class="form-group">
                <label for="inputpass2">Your Password</label>
                <input type="password" class="form-control" name="pass2" id="inputpass2" placeholder="retype your password">
            </div>
            <div class="form-group margin-Top">
                <label for="inputname">adress</label>
                <input type="text" class="form-control" name="address" id="inputname" placeholder="Your address">
            </div>

            <div class="form-group margin-Top">
                <label for="inputname">Birth Date</label>
                <input type="date" class="form-control" name="date" id="inputname">
            </div>

            <div class="form-group margin-Top">
                <label for="inputname">mobile</label>
                <input type="text" class="form-control" name="mobile" id="inputname" placeholder="mobile">
            </div>

            <div class="form-group margin-Top">
                <label for="inputname">gender</label>
                <select name="gender">
                    <option value="male">male</option>
                    <option value="female">female</option>
                </select>
            </div>

            <!--<div class="form-group">
                <label for="inputimage">Your Image</label>
                <input type="file" id="exampleInputFile">
                <p class="help-block">upload your image for the community.</p>
            </div>-->

            <button type="submit" style="margin: 10px auto;" class="btn btn-primary btn-lg btn-block img-clean">Create your account</button>
        </form>

        <hr>

        <div class="row">
            Already have an account? <a href="signin.html">Sign in <span class="glyphicon glyphicon-menu-right"></span></a>
        </div>

        <hr>

    </div>

    <div class="col-md-5 col-md-offset-1">
        <h2 class="center" style="color: #7b171f">Benefits of your free account</h2>

        <div>
            <img src="../img/flyers.jpg" width="100">
        </div>
        <br>
        <div class="row">
            <p><strong>Personalized Recommendations</strong><br>Discover places you'll love.</p>
            <p><strong>Your Favorite List</strong><br>Track every place you want to go and receive notifications when there are new things to do there.</p>
            <p><strong>Your Ratings</strong><br>Rate and remember every place you've been.</p>
            <p><strong>Community</strong><br>Discuss &amp; Review places you've been.</p>
            <p><strong>Contribute to Society</strong><br>Flag a problem or report a restuarant abuse.</p>
        </div>
    </div>
</div>
        {% endblock %}





