<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" href="../css/modalLoginStyle.css">

    {% block head %}



    {% endblock %}

    <title>{% block title %}{% endblock %}</title>


</head>
<body>

    <!-- Navbar here -->
    <div class="navbar navbar-inverse img-clean">
        <div class="container">
            <div class="navbar-brand">
                iTarget!
            </div>

            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="main.html">Home</a></li>
                    <li><a href="#">Recommend Me</a></li>
                    <li><a href="topRated.html">Top Rated Restaurants</a></li>
                    <li><a href="about.html">About</a></li>
                </ul>

                <ul class="nav navbar-nav  navbar-collapse pull-right">
                    {%if login%}
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="padding-right:20px;">
                            <img src="" class="img-circle" onerror="" />
                            {{user.name.first}}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">


                            <li><a href="/me">my profile</a></li>
                            <li role="separator" class="divider"></li>


                            <li><a href="/favourites">my favourites</a></li>


                            <li role="separator" class="divider"></li>
                            <li><a href="/logout">logout</a></li>
                        </ul>
                    </li>
                    {%else%}
                    <li><a href="#" data-toggle="modal" data-target="#myModal" style="display:block;">Login</a></li>
                    {%endif%}
                </ul>
                {%if !login%}
                <!--<form class="navbar-form navbar-right float-right">
                    <div class="form-group">
                        <input class="form-control" type="email" placeholder="Your Email">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" placeholder="Your Password">
                    </div>
                    <button class="btn btn-success" type="submit">Sign In</button>
                </form>-->
                {%endif%}

            </div>
        </div>
    </div>

    {% block body content %}

    {% endblock %}

    <!-- FOOTER GOES HERE -->

    <div id="footer" class="img-clean">
        <div class="container marginTop">
            <div class="row margin30">
                <div class="col-md-3">
                    <h4 style="color: #ffffff;">About</h4>
                    <a style="color: #00d4ff" href="#">About iTarget</a><br>
                    <a style="color: #00d4ff" href="privacy_policy.html">Privacy Policy</a><br>
                    <a style="color: #00d4ff" href="service_terms.html">Terms of Services</a><br>
                    <a style="color: #00d4ff" href="#">Guidelines</a><br>
                    <a style="color: #00d4ff" href="developers.html">Developers</a><br>
                </div>

                <div class="col-md-3">
                    <h4 style="color: #ffffff;">Discover</h4>
                    <a style="color: #00d4ff" href="#">New Offers</a><br>
                    <a style="color: #00d4ff" href="#">New in Tanta</a><br>
                    <a style="color: #00d4ff" href="#">iTarget on Mobile</a><br>
                    <a style="color: #00d4ff" href="#">Contact Us</a><br>
                </div>

                <div class="col-md-3" style="color: #00d4ff">
                    <h4 style="color: #ffffff;">iTarget for Business Owners</h4>
                    <a style="color: #00d4ff" href="#">Claim your Business Page</a><br>
                    <a style="color: #00d4ff" href="#">Advertise on iTarget</a><br>
                    <a style="color: #00d4ff" href="#">Business Owners Support</a><br>
                </div>

                <div class="col-md-3" style="color: #ddddd9;">
                    <h4 style="color: #ffffff;">Cities</h4>
                    Tanta

                    <br>

                    <h4 style="color: #ffffff;">Coming Soon to</h4>

                    Cairo <br>
                    Alex <br>
                    Mansoura <br>
                </div>
            </div>

            <hr>

            <div class="row center">
                <img src="img/city.png" alt="">
            </div>
        </div>
    </div>



    <!--Login Modal-->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <div class="container">
                <div class="row">
                    <div class="form-signin mg-btm">
                        <h3 class="heading-desc">
                            <button type="button" class="close pull-right" aria-hidden="false" data-dismiss="modal">×</button>
                            Login to Itarget
                        </h3>
                        
                        <div class="main">
                            <form class="form-border" method="post" action="/login">
                                <h1 style="margin-bottom: 10px;" class="center">Login to your account</h1>
                                <br>

                                <div class="form-group">
                                    <label for="inputemail">Your Email</label>
                                    <input type="email" name="mail" class="form-control" id="inputemail" placeholder="Your Email">
                                </div>

                                <div class="form-group">
                                    <label for="inputpass2">Your Password</label>
                                    <input type="password" name="password" class="form-control" id="inputpass2" placeholder="password">
                                </div>

                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">Remember me.
                                    </label>
                                </div>
                                <button type="submit" style="margin: 10px auto;" class="btn btn-primary btn-lg btn-block img-clean">Sign in</button>
                                <a href="/signup">Sign up now</a>

                            </form>

                            <span class="clearfix"></span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--Login Modal End-->

    <script src="../javascripts/jquery.min.js"></script>

    <script src="../javascripts/bootstrap.min.js"></script>
</body>
</html>