{% extends 'layout_master.html' %} {% block head %}
<link rel="stylesheet" href="../css/bootstrap.min.css">
<link rel="stylesheet" href="../css/star-rating.css">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" media="all" href="../css/style.css">
<script type="text/javascript" src="../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../js/star-rating.js"></script>
<script type="text/javascript" charset="utf-8" src="../js/jquery.leanModal.min.js"></script>

<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> {% endblock %} {% block title %}iTarget -{{rest.name}}{%
endblock %}

<br> {% block body content %}
<!-- Navbar here -->

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1 style="color: #7b171f;">{{rest.name}}</h1>
            <input data-pid="{{rest.id}}" id="rest-rate" value="{{avgRate}}" min=.5 max=5 step=.5 class="rating" data-show-clear="false"
                data-show-caption="false" data-size="lg">

            <span>{{reviewsNumber}} Reviews</span>
            <p style="color:red;"> you rate is <span id="uservote">{{userVote}}</span></p>
        </div>

        <div class="col-md-6">
            <a style="margin: 40px 50px 0 0;" class="btn btn-lg btn-primary img-clean" href="../writeReview.html"><span class="glyphicon glyphicon-star-empty"></span> Write a Review</a>

            <a style="margin: 50px 0 0 0;" class="btn btn-default" href="writeReview.html"><span class="glyphicon glyphicon-share"></span> Share</a>

            <a style="margin: 50px 0 0 0;" class="btn btn-default" href="#"><span class="glyphicon glyphicon-bookmark"></span> Add to Favorite</a>

        </div>
    </div>

    <hr>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-3" style="border: 1px solid #e2e2e2">
            <div class="">
                <div class="center" style="margin: 10px 0; padding: 0px; max-width: 300px; max-height: 300px"><img class="img-thumbnail img-responsive" src="../img/map.png" alt="..."></div>
                <div class="caption">
                    <p style="padding: 0; font-size: 17px;">
                        <span class="glyphicon glyphicon-map-marker"></span> {{rest.location}}. <br>
                        <span class="glyphicon glyphicon-phone"></span> {{rest.mobile}}
                    </p>
                    <p>
                        <a style="margin-bottom: 5px;" class="" href="#"><span class="glyphicon glyphicon-paperclip"></span> Send Private Message
                        </p>
                      </div>
                    </div>
              </div>
              
              <div class="col-md-9" style="padding-left: 30px;">
                 
                  <div class="row">
                      <div style=" max-width: 850px; max-height: 400px">
                          <img class="img-responsive img-rounded" src="../{{rest.photo}}" alt="Restaurant Cover Image" style="width:300px ; height:276px" >
                      </div>
                  </div>
              </div>
            </div>
        </div>
        
        <hr>
        
        <div class="container">
            <div class="row">
            <div class="col-md-12">
                <h2 style="color: #7b171f">
                    Reviews
                </h2>
                
                <div class="dropdown">
                 <span style="font-size:19px;">Sort by </span>
                  <button style="" class="btn btn-default btn-small dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Newest First
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#">Newest First</a></li>
                        <li><a href="#">Oldest First</a></li>
                        <li><a href="#">Highest Rated</a></li>
                        <li><a href="#">Lowerst Rated</a></li>
                        </ul>
                </div>

                <hr>

                <div class="alert alert-warning" role="alert">
                    <b>Your trust is our top priority. </b>
                    <p>So, we made sure that business owners can't pay to alter or remove your review.</p>
                </div>




            </div>

            <div class="row">
                <ul class="nav nav-pills nav-justified text-nowrap">
                    <li><a data-toggle="pill" href="#textMenue" class="tabb"><span class="glyphicon glyphicon-align-center"></span> Text Menu</a></li>
                    <li><a data-toggle="pill" href="#capturedMenue" class="tabb"><span class="glyphicon glyphicon-eye-open"></span> Captured Menu</a></li>
                    <li><a data-toggle="pill" href="#reviews" id="reviewtab" class="tabb"><span class="glyphicon glyphicon-pencil"></span> Reviews</a></li>
                    <li><a data-toggle="pill" href="#photos" class="tabb"><span class="glyphicon glyphicon-camera"></span> Photos</a></li>
                    <li><a data-toggle="pill" href="#branches" class="tabb"><span class="glyphicon glyphicon-map-marker"></span> Branches</a></li>
                </ul>
                <hr />
                <div class="tabb-content">
                    <div class="tab-content">

                        <div id="textMenue" class="tab-pane fade">
                            <div class="container" style="padding-left:0;padding-right:0;">
                                <div class="panel-group" id="accordion">

                                    @foreach (var item in Model) {
                                    <div class="panel panel-default cordion-panel" data-catpanel="@item.CategoryId">
                                        <div class="panel-heading text-center cordion-heading" style="font-size:x-large">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#@item.CategoryId" id="predict" style="display: block;">
                                                        @item.CategoryName<span class="caret"></span>
                                                    </a>
                                        </div>
                                        <div id="@item.CategoryId" class="panel-collapse collapse">
                                            <div class="panel-body textbody">
                                                <div class="col-xs-18 col-sm-6 col-md-2 product">
                                                    <div class="thumbnail">
                                                        <img src="~/@product.ProductPhoto??width=300&height=300" alt=" ">
                                                        <div class="caption prod-caption">
                                                            <h4 class="text-center">@product.ProductName</h4>
                                                            <p class="text-center">@product.ProductDesc</p>
                                                            @if (product.tbl_Products_price.Count() != 0) {
                                                            <p class="text-center">large: @priceLarge</p>
                                                            <p class="text-center">combo: @priceCombo</p>

                                                            }


                                                            <p>
                                                                <h6 class="text-center">
                                                                    <span class="col-sm-5 col-xs-12 col-md-7 ">
                                                                                        <input data-pid="@product.ProductId" value="@ProductvoteAvg" class="rating form-control hide rating-input" data-show-clear="false" data-show-caption="false" data-size="md">
                                                                                    </span>
                                                                    <b class="col-sm-7 col-xs-12 col-md-3 prod-votes">(@countProductVotes)</b>
                                                                </h6>

                                                                @*<span class="result">ddddd</span>*@ @*
                                                                <small data-result="@product.ProductId" class="lblResult">.</small>*@
                                                            </p>

                                                            <p data-result="@product.ProductId" class="col-sm-5 col-xs-12 col-md-7 text-nowrap lblResult">.</p>

                                                        </div>
                                                    </div>
                                                </div>
                                                } }

                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default xtraa-panel-default" style="margin-top: 0;" data-catpanell="@item.CategoryId">

                                        <div class="panel-body fixed-panel eaxtraa-panel">


                                            <div class="col-xs-18 col-sm-6 col-md-2">
                                                <div class="thumbnail extra-panel">
                                                    <img src="~/@topPro.ProductPhoto" alt="@topPro.ProductName">
                                                    <div class="caption">
                                                        <h6 class="text-center">@topPro.ProductName</h6>
                                                        <p class="text-center">@topPro.ProductDesc</p>
                                                        <p class="text-center">price:500LE</p>

                                                    </div>
                                                    <div class="caption-btm text-center">
                                                        <h6>@topPro.ProductName</h6>
                                                        <input value="@theVote" readonly="readonly" class="rating form-control hide text-center" data-show-clear="false" data-show-caption="false"
                                                            data-size="lg">
                                                    </div>
                                                </div>


                                            </div>
                                            } @if (prodsCount != 0) {
                                            <h6 class="text-center col-md-offset-11"><a data-toggle="collapse" data-parent="#accordion" href="#@item.CategoryId" class="btn btn-md btn-default seeMore"><span>more..</span></a></h6>
                                            }


                                        </div>
                                    </div>

                                    }


                                </div>
                            </div>
                        </div>
                        <div id="capturedMenue" class="tab-pane fade">
                            <div class="container" style="background-color:#d3cfcf">
                                <div class="panel panel-default col-sm-12 ">

                                    <div id="DataCapturedMenues" class="panel-body fixed-panel">




                                        @foreach (var menue in (IEnumerable
                                        <BOL.CapturedMenue>)ViewData["capturedMenues"]) {


                                            <div class="col-xs-18 col-sm-6 col-md-4">
                                                <div class="thumbnail">
                                                    <a href="#modal-photos-Captured">
                                                        <img class="cap-menue" src="~/@menue.CapturePhoto?width=500&height=500" alt="food photo">
                                                    </a>

                                                </div>
                                            </div>

                                            }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="reviews" class="tab-pane fade">
                            <div class="container" style="background-color:#d3cfcf">
                                <div class="panel panel-default col-sm-12 ">
                                    <div class="panel-heading">
                                        <h2 class="panel-title text-nowrap">Rate this</h2>
                                        <input id="review-rate" class="rating form-control hide rating-input pull-left" data-show-clear="false" data-show-caption="false"
                                            data-size="md">

                                        <div id="rate-validation" style="display:none;">
                                            <sapn class="text-danger">please rate it from 5</span>
                                        </div>
                                    </div>
                                    <div class="panel-body fixed-panel reviews-pannel">

                                        <div class="row">
                                            <div class="col-sm-10 col-xs-12 col-sm-push-1 well">

                                                <textarea type="text" class="required form-control" id="reviewTxtArea" placeholder="Type in your review" rows="5"></textarea>
                                                <div id="text-area-validation" style="display:none;">
                                                    <span class="text-danger">Please type in a review.!</span>
                                                </div>
                                                <br />
                                                <input type="button" id="addReviewBtn" value="add review" class="btn btn-md btn-primary pull-right" />
                                            </div>
                                        </div>
                                        <!-- row-text-area reviews-->
                                        <div class="row">
                                            <hr />
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-11 col-sm-push-1">
                                                <div class="reviews">
                                                    <div id="reviewSection">
                                                        <div id="review-list">
                                                            <ul>
                                                                {%for review in rest.reviews%}
                                                                <li class="media">
                                                                    <a href="#">
                                                                        <img src="@userpic" class="media-object img-rounded" />
                                                                    </a>
                                                                    <div class="media-body" id="review">
                                                                        <h4 class="media-heading">
                                                                            <a>{{review.user_id.name.full}}</a>
                                                                            <p>{{review.review_date|date('d-m-Y , h:i A',-480)}}</p>

                                                                            <input id="input-3" value="{{review.vote}}" readonly="readonly" class="rating form-control hide" data-show-clear="false"
                                                                                data-show-caption="false" data-size="md">
                                                                        </h4>
                                                                        <a class="pull-right report-review" data-reviewreport="@item.ReviewId"><span class="glyphicon glyphicon-flag"></span></a>
                                                                        <a class="pull-right remove-review" data-reviewremove="@item.ReviewId"><span class="glyphicon glyphicon-remove"></span></a>

                                                                        <blockquote>{{review.ReviewTxt}}</blockquote>

                                                                        <div class="col-sm-12">
                                                                            <small style="display:none;" class="text-center reportrev-lbl" data-revreport="@item.ReviewId"></small>
                                                                        </div>
                                                                        <hr>
                                                                    </div>
                                                                </li>
                                                                {%endfor%}
                                                            </ul>
                                                        </div>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div id="photos" class="tab-pane fade">
                            <div class="container" style="background-color:#d3cfcf">
                                <div class="panel panel-default col-sm-12 ">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <input type="button" id="addPhotoBtn" value="add Photo" class="btn btn-md btn-primary col-sm-12 col-xs-12" />
                                            <a data-toggle="modal" href="#add-photos-to-resturant" class="btn btn-primary btn-lg" style="display:block;">Add photo</a>
                                        </div>
                                    </div>
                                    <div id="DataPhotos" class="panel-body fixed-panel">

                                        @Html.Partial("_PartialPhotosUploaded", ViewData["updatedPhotos"])
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="branches" class="tab-pane fade">
                            <h3>Menu branches</h3>
                            <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <p id="resturant-id" style="display:none;">{{rest.id}}</p>
    <script>
        $('.rating').on('rating.change', function (event, value, caption) {
            // $('.rating').rating('refresh', {disabled: true, showClear: false, showCaption: true});

            $(document).off(".firstCall ");
            var anchor = $(event.currentTarget),
            pid = anchor.closest(".rating ").data("pid ");
            $.ajax({
                url: "http://localhost:3000/rate ",
                type: "POST ",
                dataType: 'json',
                data: { rate: value, id: pid },
                success: function (data) {
                    if(data==="login ")
                    {
                        $('#myModal').modal('show');
                    }else if(data.msg==="success "){
                       $(".rating ").readonly('true');
                        // window.location.replace("http://localhost:3000/resturant/ "+pid);
                        $("#uservote ").text(data.rate);
                    }
                 }
            });
        });
    $('.dropdown-toggle').dropdown();



     
            
        </script>

    <script>
$('.tabb').on('click', function () {


        $('html, body').animate({
            scrollTop: $('.tab-content').offset().top - 70
        }, 800);

    });

           function drawReviews (reviews)
        {
            var html='<ul class="media-list reviews-list">';
            for(var i =0; i<reviews.length; i++){
                // var datee =reviews[i].review_date.substring(0, 10);
                var eee = new Date(reviews[i].review_date);
                var datee = eee.toLocaleString();
                 html+='<li class="media">';
                 html+='<a href="#">';
                 html+='<img src="@userpic" class="media-object img-rounded" />';
                 html+='</a>';
                 html+='<div class="media-body" id="review">';
                 html+='<h4 class="media-heading">';
                 html+='<a>'+reviews[i].user_id.name.first+'</a>';
                 html+='<p>'+datee+'</p>';
                 html+='<input id="input-3" value="'+reviews[i].vote+'" readonly="readonly" class="rating form-control hide" data-show-clear="false" data-show-caption="false"data-size="md">';
                 html+='</h4>';
                 html+='<a class="pull-right report-review" data-reviewreport="@item.ReviewId"><span class="glyphicon glyphicon-flag"></span></a>';
                 html+='<a class="pull-right remove-review" data-reviewremove="@item.ReviewId"><span class="glyphicon glyphicon-remove"></span></a>';
                 html+='<blockquote>' + reviews[i].ReviewTxt + '</blockquote>';
                 html+='<div class="col-sm-12">';
                 html+='<small style="display:none;" class="text-center reportrev-lbl" data-revreport="'+reviews[i].id+'"></small>';
                 html+='</div>';
                 html+='<hr>';
                 html+='<</div>';
                 html+='</li>';
            }
            html+='</ul>';
            $('#review-list').html(html);
        }
                 $(document).on('click', '#addReviewBtn', function() {
            if($("#reviewTxtArea ").val().length==0)
            {
                $('#text-area-validation').show();
                setTimeout(function() {
                    $('#text-area-validation').fadeOut('slow');
                }, 3000);
                return;
            }

            if($('#review-rate').val()==0)
            {
                $('#rate-validation').show();
                setTimeout(function() {
                    $('#rate-validation').fadeOut('slow');
                }, 3000);
                return;
            }
            // $(document).off(".firstCall ");
            var rest_id=$("#resturant-id ").text();
            $.ajax({
                type: 'POST',
                url: 'http://localhost:3000/review', // we are calling json method
                traditional: true,
                data: { review_text: $("#reviewTxtArea ").val() ,rest_id: rest_id ,rest_rate: $('#review-rate').val() },


                success: function (data) {
                    drawReviews(data);
                    
                    // $("#Data ").html(data);
                    $("#reviewTxtArea ").val('');
                    $('html, body').animate({
                        scrollTop: $('blockquote:first').offset().top-150
                    }, 800);
                },
                error: function (err) {
                    alert('err');
                    // var url = '@Url.Action( "../../security/login ")';
                    // window.location.href = url;
                }
            });

        });
        
            </script> {% endblock %}